flask==3.1.1
flask-cors==5.0.1
requests==2.32.3
yfinance==0.2.54
beautifulsoup4==4.13.4
numpy==2.2.5
lxml==5.4.0
flask==3.1.1s
flask-cors==5.0.1
requests==2.32.3
yfinance==0.2.54
beautifulsoup4==4.13.4
numpy==2.2.5
lxml==5.4.0
gunicorn==23.0.0
